.loading-sm-center {
}
.loading-md-center {
}
.loading-lg-center {
}
.loading-xs-center {
  margin-top: 25%;
}
@media (min-width: 768px) {
  .loading-sm-center {
    margin-top: 80%;
  }
}
@media (min-width: 992px) {
  .loading-md-center {
    margin-top: 22%;
  }
}
@media (min-width: 1200px) {
  .loading-lg-center {
    margin-top: 17%;
  }
}